In [1]:
#!pip install pandas
#!pip install numpy
#!pip install openpyxl

In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
def unicode_to_symbols(encoded_string):
    pattern = re.compile(r'_x([0-9A-Fa-f]{4})_')
    def replace_with_char(match):
        # Convert the hexadecimal value to an integer, then to the corresponding Unicode character
        return chr(int(match.group(1), 16))
    # Replace all occurrences of encoded Unicode with their corresponding characters
    return pattern.sub(replace_with_char, encoded_string)

In [4]:
unicode_to_symbols("_x0031_06")

'106'

In [6]:
#import housing data
housing_df = pd.read_excel('housing.xlsx')

In [7]:
#import education data
education_df = pd.read_excel('education.xlsx')

In [24]:
# check for column names
education_df.head()

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_name,county_fips,...,numerator,denominator,estimate,LL_95CI,UL_95CI,SE,RSE,CA_decile,CA_RR,version
0,355,Percent of population age 25 and up with a fou...,2000,3.0,AfricanAm,CA,6,California,NaN,NaN,...,224727.0,1302388.0,17.3,NaN,NaN,NaN,NaN,NaN,1.0,Tue Jun 12 12:05:41 2018
1,355,Percent of population age 25 and up with a fou...,2000,1.0,AIAN,CA,6,California,NaN,NaN,...,15746.0,113984.0,13.8,NaN,NaN,NaN,NaN,NaN,1.0,Tue Jun 12 12:05:41 2018
2,355,Percent of population age 25 and up with a fou...,2000,2.0,Asian,CA,6,California,NaN,NaN,...,1008647.0,2415154.0,41.8,NaN,NaN,NaN,NaN,NaN,1.0,Tue Jun 12 12:05:41 2018
3,355,Percent of population age 25 and up with a fou...,2000,4.0,Latino,CA,6,California,NaN,NaN,...,425972.0,5500767.0,7.7,NaN,NaN,NaN,NaN,NaN,1.0,Tue Jun 12 12:05:41 2018
4,355,Percent of population age 25 and up with a fou...,2000,7.0,Multiple,CA,6,California,NaN,NaN,...,133828.0,499849.0,26.8,NaN,NaN,NaN,NaN,NaN,1.0,Tue Jun 12 12:05:41 2018

In [26]:
# Checking region_name for housing df
education_df['county_fips'].nunique()

58

In [16]:
#filter down the columns into what we need
new_housing_df = housing_df.get(['ind_id', 'ind_definition','percent','burden', 'geotype', 'income_level','geotypevalue', 'geoname', 'region_name','region_code','county_fips'])

In [17]:
# filter to include only >50% burden
new_housing_df = new_housing_df[(new_housing_df['burden'] == '_x003E__x0020_50_x0025__x0020_of_x0020_monthly_x0020_household_x0020_income_x0020_consumed_x0020_by_x0020_monthly_x002C__x0020_selected_x002C__x0020_housing_x0020_costs')]

In [18]:
#filter out NA values and filter income
new_housing_df = new_housing_df.dropna()
new_housing_df = new_housing_df[(new_housing_df['income_level'] == 'All_x0020_income_x0020_levels') 
                              | (new_housing_df['income_level'] == 'Monthly_x0020_household_x0020_income_x0020_at_x0020_all_x0020_levels_x0020_of_x0020_HUD-adjusted_x0020_family_x0020_median_x0020_income')]
new_housing_df.head(10)

,ind_id,ind_definition,percent,burden,geotype,income_level,geotypevalue,geoname,region_name,region_code,county_fips
813,_x0031_06,Percent_x0020_of_x0020_households_x0020_spendi...,17.217629,_x003E__x0020_50_x0025__x0020_of_x0020_monthly...,CO,Monthly_x0020_household_x0020_income_x0020_at_...,_x0030_6001,Alameda,Bay_x0020_Area,_x0030_1,_x0030_6001
823,_x0031_06,Percent_x0020_of_x0020_households_x0020_spendi...,22.556391,_x003E__x0020_50_x0025__x0020_of_x0020_monthly...,CO,All_x0020_income_x0020_levels,_x0030_6001,Alameda,Bay_x0020_Area,_x0030_1,_x0030_6001
829,_x0031_06,Percent_x0020_of_x0020_households_x0020_spendi...,17.071468,_x003E__x0020_50_x0025__x0020_of_x0020_monthly...,CO,All_x0020_income_x0020_levels,_x0030_6001,Alameda,Bay_x0020_Area,_x0030_1,_x0030_6001
835,_x0031_06,Percent_x0020_of_x0020_households_x0020_spendi...,28.111467,_x003E__x0020_50_x0025__x0020_of_x0020_monthly...,CO,All_x0020_income_x0020_levels,_x0030_6001,Alameda,Bay_x0020_Area,_x0030_1,_x0030_6001
841,_x0031_06,Percent_x0020_of_x0020_households_x0020_spendi...,23.745072,_x003E__x0020_50_x0025__x0020_of_x0020_monthly...,CO,All_x0020_income_x0020_levels,_x0030_6001,Alameda,Bay_x0020_Area,_x0030_1,_x0030_6001
847,_x0031_06,Percent_x0020_of_x0020_households_x0020_spendi...,21.245421,_x003E__x0020_50_x0025__x0020_of_x0020_monthly...,CO,All_x0020_income_x0020_levels,_x0030_6001,Alameda,Bay_x0020_Area,_x0030_1,_x0030_6001
853,_x0031_06,Percent_x0020_of_x0020_households_x0020_spendi...,13.563874,_x003E__x0020_50_x0025__x0020_of_x0020_monthly...,CO,All_x0020_income_x0020_levels,_x0030_6001,Alameda,Bay_x0020_Area,_x0030_1,_x0030_6001
859,_x0031_06,Percent_x0020_of_x0020_households_x0020_spendi...,18.518519,_x003E__x0020_50_x0025__x0020_of_x0020_monthly...,CO,All_x0020_income_x0020_levels,_x0030_6001,Alameda,Bay_x0020_Area,_x0030_1,_x0030_6001
867,_x0031_06,Percent_x0020_of_x0020_households_x0020_spendi...,24.333333,_x003E__x0020_50_x0025__x0020_of_x0020_monthly...,CO,Monthly_x0020_household_x0020_income_x0020_at_...,_x0030_6003,Alpine,Central_x002F_Southeast_x0020_Sierra,_x0030_3,_x0030_6003
877,_x0031_06,Percent_x0020_of_x0020_households_x0020_spendi...,0.000000,_x003E__x0020_50_x0025__x0020_of_x0020_monthly...,CO,All_x0020_income_x0020_levels,_x0030_6003,Alpine,Central_x002F_Southeast_x0020_Sierra,_x0030_3,_x0030_6003

In [50]:
new_new_housing_df = new_housing_df.applymap(lambda x: unicode_to_symbols(x) if isinstance(x, str) else x)
#type(new_new_housing_df['county_fips'].iloc[0])
new_new_housing_df.head()

,ind_id,ind_definition,percent,burden,geotype,income_level,geotypevalue,geoname,region_name,region_code,county_fips
813,106,Percent of households spending more than 30% (...,17.217629,> 50% of monthly household income consumed by ...,CO,Monthly household income at all levels of HUD-...,06001,Alameda,Bay Area,01,06001
823,106,Percent of households spending more than 30% (...,22.556391,> 50% of monthly household income consumed by ...,CO,All income levels,06001,Alameda,Bay Area,01,06001
829,106,Percent of households spending more than 30% (...,17.071468,> 50% of monthly household income consumed by ...,CO,All income levels,06001,Alameda,Bay Area,01,06001
835,106,Percent of households spending more than 30% (...,28.111467,> 50% of monthly household income consumed by ...,CO,All income levels,06001,Alameda,Bay Area,01,06001
841,106,Percent of households spending more than 30% (...,23.745072,> 50% of monthly household income consumed by ...,CO,All income levels,06001,Alameda,Bay Area,01,06001

In [51]:
#remove unnecessary columns
new_education_df = education_df.get(['ind_id', 'ind_definition', 'estimate', 'geotype', 'geotypevalue', 'geoname','region_name', 'region_code', 'county_fips']).dropna()

In [52]:
new_new_housing_df['county_fips'].unique()

array(['06001', '06003', '06005', '06007', '06009', '06011', '06013',
       '06015', '06017', '06019', '06021', '06023', '06025', '06027',
       '06029', '06031', '06033', '06035', '06037', '06039', '06041',
       '06043', '06045', '06047', '06049', '06051', '06053', '06055',
       '06057', '06059', '06061', '06063', '06065', '06067', '06069',
       '06071', '06073', '06075', '06077', '06079', '06081', '06083',
       '06085', '06087', '06089', '06091', '06093', '06095', '06097',
       '06099', '06101', '06103', '06105', '06107', '06109', '06111',
       '06113', '06115'], dtype=object)

In [53]:
# drop NA from education
def float_to_string(ele):
    ''' Changes float outputs of county fip numbers so that they are the correct code for map usage.'''
    return '0'+ str(int(ele))

new_education_df['county_fips'] = new_education_df['county_fips'].map(float_to_string)
new_education_df.head()

,ind_id,ind_definition,estimate,geotype,geotypevalue,geoname,region_name,region_code,county_fips
9,355,Percent of population age 25 and up with a fou...,21.1,CD,607192260,Ontario CCD,Southern California,14.0,06071
10,355,Percent of population age 25 and up with a fou...,0.1,CD,603593280,Susanville CCD,Northeast Sierra,6.0,06035
11,355,Percent of population age 25 and up with a fou...,17.0,CD,607192100,Newberry-Baker CCD,Southern California,14.0,06071
12,355,Percent of population age 25 and up with a fou...,19.9,CD,609792940,Santa Rosa CCD,Bay Area,1.0,06097
13,355,Percent of population age 25 and up with a fou...,28.3,CD,600190020,Alameda CCD,Bay Area,1.0,06001

In [55]:
#export dataframes to excel files
new_new_housing_df.to_excel('clean_housing.xlsx')
new_education_df.to_excel('clean_education.xlsx')

In [ ]:
print('ur mom gae for my mom')