In [56]:
#!pip install pandas
#!pip install numpy
#!pip install openpyxl

In [57]:
import pandas as pd
import numpy as np
import re

In [58]:
def unicode_to_symbols(encoded_string):
    pattern = re.compile(r'_x([0-9A-Fa-f]{4})_')
    def replace_with_char(match):
        # Convert the hexadecimal value to an integer, then to the corresponding Unicode character
        return chr(int(match.group(1), 16))
    # Replace all occurrences of encoded Unicode with their corresponding characters
    return pattern.sub(replace_with_char, encoded_string)

In [59]:
unicode_to_symbols("_x0031_06")

'106'

In [60]:
#import housing data
housing_df = pd.read_excel('housing.xlsx')

/Users/bofuzou/anaconda3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [61]:
#import education data
education_df = pd.read_excel('education.xlsx')

In [62]:
# check for column names
housing_df.columns
education_df.columns

Index(['ind_id', 'ind_definition', 'reportyear', 'race_eth_code',
       'race_eth_name', 'geotype', 'geotypevalue', 'geoname', 'county_name',
       'county_fips', 'region_name', 'region_code', 'strata_one_code',
       'strata_one_name', 'strata_two_code', 'strata_two_name', 'numerator',
       'denominator', 'estimate', 'LL_95CI', 'UL_95CI', 'SE', 'RSE',
       'CA_decile', 'CA_RR', 'version'],
      dtype='object')

In [63]:
#filter down the columns into what we need
new_housing_df = housing_df.get(['ind_id', 'ind_definition','percent','burden', 'geotype', 'income_level','geotypevalue', 'geoname', 'region_name','region_code'])

In [64]:
# filter to include only >50% burden
new_housing_df = new_housing_df[(new_housing_df['burden'] == '_x003E__x0020_50_x0025__x0020_of_x0020_monthly_x0020_household_x0020_income_x0020_consumed_x0020_by_x0020_monthly_x002C__x0020_selected_x002C__x0020_housing_x0020_costs')]

In [65]:
#filter out NA values and filter income
new_housing_df = new_housing_df.dropna()
new_housing_df = new_housing_df[(new_housing_df['income_level'] == 'All_x0020_income_x0020_levels') 
                              | (new_housing_df['income_level'] == 'Monthly_x0020_household_x0020_income_x0020_at_x0020_all_x0020_levels_x0020_of_x0020_HUD-adjusted_x0020_family_x0020_median_x0020_income')]
new_housing_df.head(10)

,ind_id,ind_definition,percent,burden,geotype,income_level,geotypevalue,geoname,region_name,region_code
813,_x0031_06,Percent_x0020_of_x0020_households_x0020_spendi...,17.217629,_x003E__x0020_50_x0025__x0020_of_x0020_monthly...,CO,Monthly_x0020_household_x0020_income_x0020_at_...,_x0030_6001,Alameda,Bay_x0020_Area,_x0030_1
823,_x0031_06,Percent_x0020_of_x0020_households_x0020_spendi...,22.556391,_x003E__x0020_50_x0025__x0020_of_x0020_monthly...,CO,All_x0020_income_x0020_levels,_x0030_6001,Alameda,Bay_x0020_Area,_x0030_1
829,_x0031_06,Percent_x0020_of_x0020_households_x0020_spendi...,17.071468,_x003E__x0020_50_x0025__x0020_of_x0020_monthly...,CO,All_x0020_income_x0020_levels,_x0030_6001,Alameda,Bay_x0020_Area,_x0030_1
835,_x0031_06,Percent_x0020_of_x0020_households_x0020_spendi...,28.111467,_x003E__x0020_50_x0025__x0020_of_x0020_monthly...,CO,All_x0020_income_x0020_levels,_x0030_6001,Alameda,Bay_x0020_Area,_x0030_1
841,_x0031_06,Percent_x0020_of_x0020_households_x0020_spendi...,23.745072,_x003E__x0020_50_x0025__x0020_of_x0020_monthly...,CO,All_x0020_income_x0020_levels,_x0030_6001,Alameda,Bay_x0020_Area,_x0030_1
847,_x0031_06,Percent_x0020_of_x0020_households_x0020_spendi...,21.245421,_x003E__x0020_50_x0025__x0020_of_x0020_monthly...,CO,All_x0020_income_x0020_levels,_x0030_6001,Alameda,Bay_x0020_Area,_x0030_1
853,_x0031_06,Percent_x0020_of_x0020_households_x0020_spendi...,13.563874,_x003E__x0020_50_x0025__x0020_of_x0020_monthly...,CO,All_x0020_income_x0020_levels,_x0030_6001,Alameda,Bay_x0020_Area,_x0030_1
859,_x0031_06,Percent_x0020_of_x0020_households_x0020_spendi...,18.518519,_x003E__x0020_50_x0025__x0020_of_x0020_monthly...,CO,All_x0020_income_x0020_levels,_x0030_6001,Alameda,Bay_x0020_Area,_x0030_1
867,_x0031_06,Percent_x0020_of_x0020_households_x0020_spendi...,24.333333,_x003E__x0020_50_x0025__x0020_of_x0020_monthly...,CO,Monthly_x0020_household_x0020_income_x0020_at_...,_x0030_6003,Alpine,Central_x002F_Southeast_x0020_Sierra,_x0030_3
877,_x0031_06,Percent_x0020_of_x0020_households_x0020_spendi...,0.000000,_x003E__x0020_50_x0025__x0020_of_x0020_monthly...,CO,All_x0020_income_x0020_levels,_x0030_6003,Alpine,Central_x002F_Southeast_x0020_Sierra,_x0030_3

In [71]:
new_new_housing_df = new_housing_df.applymap(lambda x: unicode_to_symbols(x) if isinstance(x, str) else x)
new_new_housing_df

,ind_id,ind_definition,percent,burden,geotype,income_level,geotypevalue,geoname,region_name,region_code
813,106,Percent of households spending more than 30% (...,17.217629,> 50% of monthly household income consumed by ...,CO,Monthly household income at all levels of HUD-...,06001,Alameda,Bay Area,01
823,106,Percent of households spending more than 30% (...,22.556391,> 50% of monthly household income consumed by ...,CO,All income levels,06001,Alameda,Bay Area,01
829,106,Percent of households spending more than 30% (...,17.071468,> 50% of monthly household income consumed by ...,CO,All income levels,06001,Alameda,Bay Area,01
835,106,Percent of households spending more than 30% (...,28.111467,> 50% of monthly household income consumed by ...,CO,All income levels,06001,Alameda,Bay Area,01
841,106,Percent of households spending more than 30% (...,23.745072,> 50% of monthly household income consumed by ...,CO,All income levels,06001,Alameda,Bay Area,01
...,...,...,...,...,...,...,...,...,...,...
521133,106,Percent of households spending more than 30% (...,15.384615,> 50% of monthly household income consumed by ...,PL,All income levels,86482,Woodville CDP,San Joaquin Valley,10
521145,106,Percent of households spending more than 30% (...,8.000000,> 50% of monthly household income consumed by ...,PL,All income levels,86482,Woodville CDP,San Joaquin Valley,10
521213,106,Percent of households spending more than 30% (...,0.000000,> 50% of monthly household income consumed by ...,PL,Monthly household income at all levels of HUD-...,86804,Yolo CDP,Sacramento Area,08
521241,106,Percent of households spending more than 30% (...,0.000000,> 50% of monthly household income consumed by ...,PL,All income levels,86804,Yolo CDP,Sacramento Area,08
521253,106,Percent of households spending more than 30% (...,0.000000,> 50% of monthly household income consumed by ...,PL,All income levels,86804,Yolo CDP,Sacramento Area,08

In [72]:
#remove unnecessary columns
new_education_df = education_df.get(['ind_id', 'ind_definition', 'estimate', 'geotype', 'geotypevalue', 'geoname','region_name', 'region_code'])

In [73]:
# drop NA from education
new_education_df = new_education_df.dropna()
new_education_df.head(10)

,ind_id,ind_definition,estimate,geotype,geotypevalue,geoname,region_name,region_code
9,355,Percent of population age 25 and up with a fou...,21.1,CD,607192260,Ontario CCD,Southern California,14.0
10,355,Percent of population age 25 and up with a fou...,0.1,CD,603593280,Susanville CCD,Northeast Sierra,6.0
11,355,Percent of population age 25 and up with a fou...,17.0,CD,607192100,Newberry-Baker CCD,Southern California,14.0
12,355,Percent of population age 25 and up with a fou...,19.9,CD,609792940,Santa Rosa CCD,Bay Area,1.0
13,355,Percent of population age 25 and up with a fou...,28.3,CD,600190020,Alameda CCD,Bay Area,1.0
14,355,Percent of population age 25 and up with a fou...,65.7,CD,603790310,Calabasas CCD,Southern California,14.0
15,355,Percent of population age 25 and up with a fou...,21.7,CD,600190200,Berkeley CCD,Bay Area,1.0
16,355,Percent of population age 25 and up with a fou...,29.3,CD,603791120,Glendale CCD,Southern California,14.0
17,355,Percent of population age 25 and up with a fou...,8.2,CD,607791870,Manteca CCD,San Joaquin Valley,10.0
18,355,Percent of population age 25 and up with a fou...,19.0,CD,603791750,Los Angeles CCD,Southern California,14.0

In [74]:
#export dataframes to excel files
new_housing_df.to_excel('clean_housing.xlsx')
new_education_df.to_excel('clean_education.xlsx')